.best{
  background: url('../img/best/bg_best.png') center center / cover no-repeat;
}

.best .title{
  margin-bottom: 55px;
  color: $black;
}

.best__list{
  display: flex;
}

.best__item{
  text-align: center;
  width: 33.3%;
  margin-right: 36px;

  &:last-child{
    margin-right: 0px;
  }
}

.best-image{
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

.best__icon{
  display: inline-block;
  justify-content: flex-start;
  height: 125px;
  padding-bottom: 37px;
}

.best__descr-title{
  padding-bottom: 25px;
  color: $black;
  font-family: 'Lifehack';
  font-size: 24px;
  line-height: 28.14px;
  letter-spacing: -0.6px;
}

.best__descr-content{
  opacity: 0.8;
  color: $black;
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 24.02px;
}