
.burgers{
  background:#466368;
  background-image: linear-gradient(#ffcc33 0%, #ff9933 50%, #ffcc33 100%);
  position: relative;
}

.slider__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow{
  position: absolute;
  display: flex;
  top: 50%;
  width: 27px;
  height: 13px;

  &__left{
    left: 40px;
  }

  &__right{
    right: 60px;
  }
}

.burgers-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.burgers-main__image{
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 28px;
  position: relative;
}

// Иконки на бургере
.display-icon-burg{
  position: absolute;
  top: 0;
  left: 0;
}
.display-icon-kkal{
  position: absolute;
  left: 0;
  bottom: 0;
}


// Блок "Описание бургера"
.burgers-main__descr{
  width: 412px;
  .title{
    margin-bottom: 52px;
  }
}

.burgers-main__text{
  color: $white;
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
}

.burgers-main__order{
  display: flex; 
}

.burgers-main__price{
  margin-right: 32px;
}

.burger-currency{
  font-size: 22px;
}

.burgers-button{
  margin-top: 40px;
  .button{
    width: 95px;
  }
}
