// лучше задавать padding вместо точных размеров, т.к. может поменяться текст внутри кнопки

.button{
  padding: rem(12px) rem(15px);
  background: $red;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;

  &:hover{
    background: $dark-red;
  }

  &__black{
    background: $black;
  }
}