.hero { background: url("../img/hero/hero_texture.png") center center no-repeat fixed, url("../img/hero/hero_bg.jpg") center center no-repeat fixed; background-size: cover; }

.hero__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 0.8; -ms-flex: 0.8; flex: 0.8; }

.hero__content-image, .hero__content-tagline { width: 50%; }

.hero__content-subtitle { font-size: 65px; color: #fff; font-family: 'Lifehack'; letter-spacing: -1.83px; line-height: 60px; padding-top: 30px; }

.arrow-scroll { display: block; padding-top: 95px; padding-left: 450px; }

.arrow-scroll-img { width: 29px; height: 14px; }
