.hero{
  background: url('../img/hero/hero_texture.png') center center no-repeat fixed,
              url('../img/hero/hero_bg.jpg') center center no-repeat fixed;
  background-size: cover;
}

.hero__content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.7;
  max-width: 834px;
  height: 424px;
}

.hero__content-image,
.hero__content-tagline{
  width: 50%;
}

.hero__content-image{
  margin-right: 45px;
}

.hero__content-tagline{
  justify-items: center;
  align-content: center;
}

.hero__content-subtitle{
  font-size: 65px;
  color: #fff;
  font-family: 'Lifehack';
  letter-spacing: -1.63px;
  line-height: 60px;
  padding-top: 30px;
}


.arrow-scroll{
  display: flex;
  justify-content: center;
  
  padding-top: 95px;
  // padding-left: 450px;
}

.arrow-scroll-img{
  width: 29px;
  height: 14px;
}