
$red: #e45028;
$dark-red: #c1401e;
$orange: #f9b43b;
$black: #2f3234;
$white: #ffffff;
$yellow: #ffcc33;
$green: #99cc33;

$tablets: 768px;
$phones: 480px;

@import "./_misc/*.scss";
@import "./layout/*.scss";
@import "./*.scss";

// @import './_misc/media.scss';
// @import "./_misc/normalize.scss";
// @import "./_misc/fonts.scss";
// @import "./_misc/base.scss";

// @import './header.scss';
// @import "./button.scss";
// @import "./humburger-menu.scss";
// @import "./hero.scss";
// @import "./title.scss";
// @import "./best.scss";
// @import "./burger-icons.scss";
// @import "./burgers.scss";
// @import "./composition.scss";
// @import "./team.scss";
// @import "./menu.scss";
// @import "./reviews.scss";
// @import "./modal-window.scss";
// @import "./work.scss";
// @import "./video.scss";
// @import "./form.scss";
// @import "./contacts.scss";
// @import "./fixed-menu.scss";

